{% extends 'dash_base.html' %}


{% block content %}
{% comment %} <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" class>Natrag</a> {% endcomment %}

    <a href="{% url 'auti_app:detalji' queryset.id %} ">Natrag</a>
    <table class="table table-sm table-responsive-sm">
        <thead>
            <th>Naziv</th>
            <th>Datum</th>
            <th>Početna</th>
            <th>Završna</th>
            <th>Dnevna kilometraža</th>
            <th>Relacija</th>
            <th>Vozač</th>
        </thead>
        {% for item in page_obj %}
        <tbody>
            <tr>
                
                    <td>{{item.ime}}</td>
                    <td>{{item.datum}}</td>
                    <td>{{item.pocetna}}</td>
                    <td>{{item.zavrsna}}</td>
                    <td>{{item.dnevna_kilometraza}}</td>
                    <td>{{item.relacija}}</td>
                    <td>{{item.zaduzio}}</td>
                
            </tr> 
        </tbody>
        {% endfor %}
    </table> 

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}
    