
{% extends 'dash_base.html' %}

{% block frame %}

  {% if messages %}
  <ul style="list-style: none;" class="alert alert-success messages">
    {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <h2>Automobili</h2>
    
      
      
      <a class="btn btn-primary" href="{% url 'auti_app:dodaj_automobil' %}">Dodaj Automobil</a>
      <br>
      <br>
      
      
        <table class="table table-hover table-sm table-responsive-sm">
          <thead>
            <tr class="text-center">
              <th>Model</th>
              <th>Proizvođač</th>
              <th>Registarska oznaka</th>
              <th>Kilometraža</th>
            </tr>
          </thead>
          <tbody>
            {% for auto in queryset %}
              
              {% if auto.do_servisa <= 1000 %}
              <tr class="text-center alert alert-danger">
                <td><a href="{% url 'auti_app:detalji' auto.id %} "><b>{{auto.ime}}</b></a></td>
                <td>{{auto.marka}}</td>
                <td>{{auto.tablica}}</td>
                <td>{{auto.zavrsna}}</td>
              </tr>
              {% else %}
              <tr class="text-center">
                <td><a href="{% url 'auti_app:detalji' auto.id %} "><b>{{auto.ime}}</b></a></td>
                <td>{{auto.marka}}</td>
                <td>{{auto.tablica}}</td>
                <td>{{auto.zavrsna}}</td>
              </tr>
              {% endif %}
                
                
            {% endfor %}
          </tbody>
      </table>
      
      <br>
      <br>
      <br>
      
      
    
{% endblock frame %}


{% block sidebar %}

{% endblock sidebar %}
  
    




    