{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h2>Spajanje optike</h2>
    <p>Primarna djelatnost naše tvrtke je spajanje optike – optičkih kabela svih vrsta. Višegodišnje iskustvo smo stekli obavljajući najzahtjevnije radove na telekomunikacijskoj mreži za većinu hrvatskih telekomunikacijskih operatora, a poglavito Metronet telekomunikacije d.d. kojemu smo glavni izvođač radova na optičkoj mreži u istočnom dijelu Republike Hrvatske.</p>
    <p>Osim toga izvodimo i sve instalacijske radove vezane za informatičke i komunikacijske mreže na nekom objektu (kabliranje, spajanje panela i utičnica, montaža, spajanje i uređivanje komunikacijskih ormara).</p>
    <p>Tijekom izvođenja radova vodimo računa i o najmanjim detaljima, a po završetku radova prostor vraćamo u zatečeno stanje, predajemo kompletnu dokumentaciju i mjerne rezultate.</p>

    <!-- split content in two columns -->
    <div class="row">
      <div class="col-sm-6">
        <img src="s177.jpg" class="img-fluid align-self-center mr-3" alt="..." style="width:60%; height:auto; margin-left:20%;">
      </div>
      <div class="col-sm-6">
        <p>Za spajanje niti optike koristimo splicer Fitel S177 – uređaj za spajanje optičkih vlakana koji ima potpuno automatsko podešavanje jezgre tzv. CAS (Core Alignment System- sistem sa preciznim poravnavanjem jezgre do jezgre (core to core) sa minimalnim gubicima na spoju) i ACR kalibraciju u realnom vremenu (automatska kompenzacija promjene zračnog pritiska, vlažnosti i temperature). Mogućnost rada u različitim položajima i različitim uvjetima rada, automatsko prepoznavanje tipa vlakna, ekran u boji i grafički meni su samo neke prednosti koje ga izdvajaju od konkurencije.</p>
      </div>
    </div>
  </div>

{% endblock content %}
    