{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Reference</h2>

    <p>Kroz dugogodišnju suradnju sa partnerima, ostvarili smo niz uspješno odrađenih projekata na poljima izgradnje i spajanja optičke i informatičke infrastrukture:</p>

    <h2><a href="https://www.a1.hr/poslovni/">Metronet telekomunikacije d.d.</a></h2>
    <ul style="list-style-type:none">
      <li>Izgradnja optičke mreže (Osijek, Slavonski Brod, Virovitica, Vinkovci, Vukovar, Đakovo i Našice) preko 500 optičkih priključaka u tri godine suradnje za Metronet telekomunikacije d.d.</li>
      <li>24 sata usluga intervencije na području Slavonsko baranjske regije</li>
      <li>Izgradnja informatičke mreže za Gradnju Osijek, Uprava</li>
      <li>Izgradnja informatičke mreže za Športske objekte, Zrinjevac Osijek</li>
      <li>Izgradnja informatičke mreže za Metronet telekomunikacije u Osijeku</li>
    </ul>

    <h2><a href="http://www.unitel-telekom.hr/">Unitel</a></h2>
    <ul style="list-style-type:none">
      <li>Spajanje Carneta na magistralni vod u Osijeku</li>
      <li>Spajanje Optime na magistralni vod u Osijeku i Đakovu</li>
      <li>Spajanje VIP-a na magistralni vod u Osijeku</li>
      <li>Spajanje Srbija telekoma na magistralni vod u Bačka Palanka, Srbija</li>
    </ul>

    <h2><a href="http://sokol-vinkovci.hr/">Sokol d.o.o.</a></h2>
    <ul style="list-style-type:none">
      <li>Izgradnja optičke FTTH mreže za HT (Osijek i Vinkovci)</li>
      <li>Izgradnja magistralnog voda trasa Sisak – Bajakovo i Vinkovci – Osijek za potrebe kabel operatora Unitel d.d.</li>
      <li>Izmještanje DTK (spajanje optičkih i bakrenih kabela na živoj mreži) za potrebe izgradnje Zapadnog trgovačkog centra u Rijeci</li>
      <li>Izgradnja magistralnog voda Osijek-Vinkovci za potrebe HŽ-a</li>
    </ul>
  </div>

{% endblock content %}
    
