{% extends 'dash_base.html' %}

{% load widget_tweaks %}

{% block frame %}

{% if messages %}
        <ul style="list-style: none;" class="alert alert-info messages">
               {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
  {% endif %}

<table class="table table-responsive-sm table-striped table-secondary">
    <thead>
        <th>Kategorija</th>
        <th>Naziv</th>
        <th>Količina</th>
        <th>Zadnje uređivano</th>
        <th>Nivo narudžbe</th>
        <th>Zaprimio</th>
        <th>Zaduzio</th>
    </thead>

    
        <tbody>
            <tr>
                <td>{{queryset.kategorija}}</td>
                <td>{{queryset.naziv}}</a></td>
                <td>{{queryset.kolicina}}</td>
                <td>{{queryset.zadnje_osvjezeno}}</td>
                <td>{{queryset.reorder_level}}</td>
                <td>{{queryset.zaprimio}}</td>
                
                <td>
                    <!-- ispis usera za manytomany -->
                    {% for user in queryset.zaduzio.all %}
                        {{user.first_name}} {{user.last_name}}
                    {% endfor %}
                </td>
                <td>{{queryset.datum_zaduzivanja}}</td>
            </tr>
        </tbody>
    
</table>   
{% endblock frame %}
    
{% block sidebar %}
    <div>
        <a href="{% url 'skladiste_app:novi_unos' %}" class="btn btn-success btn-block">Novi unos</a>
        <a href="{% url 'skladiste_app:uredi_artikl' queryset.id %}" class="btn btn-info btn-block">Uredi</a>
        <a href="{% url 'skladiste_app:izdavanje' queryset.id %}" class='btn btn-outline-primary btn-block'>IZDAJ ARTIKL</a>
        <a href="{% url 'skladiste_app:zaprimanje' queryset.id %}" class='btn btn-outline-primary btn-block'><div >ZAPRIMI ARTIKL</div></a>
        <a href="{% url 'skladiste_app:obrisi_artikl' queryset.id %}" class='btn btn-danger btn-block'>Obriši</a>
        <a href="{% url 'skladiste_app:zaduzivanje' queryset.id %}" class='btn btn-danger btn-block'>Zaduži</a>
    </div>
    

{% endblock sidebar %}
    