{% extends 'dash_base.html' %}

{% load widget_tweaks %}

{% block frame %}

{% if messages %}
        <ul style="list-style: none;" class="alert alert-info messages">
               {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
  {% endif %}

<table class="table table-responsive-sm table-striped table-secondary">
    <thead>
        <th>Kategorija</th>
        <th>Naziv</th>
        <th>Količina</th>
        <th>Zadnje uređivano</th>
        <th>Nivo narudžbe</th>
        <th>Zaprimio</th>
    </thead>

    
        <tbody>
            <tr>
                <td>{{queryset.kategorija}}</td>
                <td>{{queryset.naziv}}</a></td>
                <td>{{queryset.kolicina}}</td>
                <td>{{queryset.zadnje_osvjezeno}}</td>
                <td>{{queryset.reorder_level}}</td>
                <td>{{queryset.zaprimio}}</td>
            </tr>
        </tbody>
    
</table>   
{% endblock frame %}
    
{% block sidebar %}
    <a href="{% url 'skladiste_app:novi_unos' %}">Novi unos</a>
    <a href="{% url 'skladiste_app:uredi_artikl' queryset.id %}">Uredi</a>
    <a href="{% url 'skladiste_app:izdavanje' queryset.id %}"><div class='btn btn-danger'>IZDAJ ARTIKL</div></a>
    <a href="{% url 'skladiste_app:zaprimanje' queryset.id %}"><div class='btn btn-primary'>ZAPRIMI ARTIKL</div></a>
    <a href="{% url 'skladiste_app:obrisi_artikl' queryset.id %}">Obriši</a>
    

{% endblock sidebar %}
    