{% extends 'dash_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block exthead %}
    <link rel="stylesheet" href="{% static 'Skladiste/css/master.css' %}">
{% endblock exthead %}

{% block info %}
    {% if messages %}
    <ul style="list-style: none;" class="alert alert-info messages">
        {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock info %}
    
{% block content %}
<h1>History - OPTIKA</h1>


<div class="row sadržaj">
    <div class="col-sm-3 pretraga">
        <div style="margin-top:15px" class="pretraga">
            <!-- <h3>Pretraga</h3> -->
            
                <button class="btn btn-outline-success btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Pretraga <span class="bi bi-search"></span>
                </button>
                <div class="collapse" id="collapseExample">
                    <form action="" method="POST">
                        
                        {% include 'includes/searchform.html' %}
                            
                        
                    </form>
                </div>
        </div>
    </div>
    <div class="col-sm-9 skladiste">
        <table class="table table-sm table-responsive-sm table-hover table-secondary thistory">
            <thead>
                <th>Inventurni broj</th>
                <th>Naziv</th>
                <th>tip kabela</th>
                <th>proizvođač</th>
                <th>vlasnik</th>
                <th>Izdano metara</th>
                <th>Zadužio</th>
                <th>Radnja</th>
                <th>Posljednje ažuriranje</th>
                
            </thead>
        
            {% for item in page_obj %}
                <tbody>
                    <tr>
                        <td>{{item.inv_broj}}</td>
                        <td>{{item.naziv}}</td>
                        <td>{{item.tip_kabela}}</td>
                        <td>{{item.proizvodjac}}</td>
                        <td>{{item.vlasnik}}</td>
                        <td>{{item.izdana_metraza}}</td>
                        <td>{{item.izdano_na}}</td>
                        <td>{{item.radnja}}</td>
                        <td>{{item.zadnje_osvjezeno}}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>      
        
    </div>
    
</div>

{% include 'includes/pagination.html' %}

{% endblock content %}
    

    