{% extends 'dash_base.html' %}

{% load widget_tweaks %}

{% block frame %}

{% if messages %}
        <ul style="list-style: none;" class="alert alert-info messages">
               {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
{% endif %}

<h2>Detalji</h2>
<hr>
<div class="row">
    <div class="col-sm">
        <b>Inventurni broj</b>
        <p>{{queryset.inv_broj}}</p>
    </div>
    <div class="col-sm">
      <b>Naziv</b>
      <p>{{queryset.naziv}}</p>
    </div>
    <div class="col-sm">
      <b>Kreirao</b>
      <p>{{queryset.kreirao}}</p>
    </div>
    <div class="col-sm">
        <b>Kreirano</b>
        <p>{{queryset.kreirano}}</p>
      </div>
</div>
<hr>
<div class="row">
    <div class="col-sm">
        <b>tip kabela</b>
        <p>{{queryset.tip_kabela}}</p>
    </div>
    <div class="col-sm">
      <b>proizvođač</b>
      <p>{{queryset.proizvodjac}}</p>
    </div>
    <div class="col-sm">
        <b>Broj Niti</b>
        <p>{{queryset.broj_niti}}</p>
    </div>
    <div class="col-sm">
        <b>Preostalo metara</b>
            {% if queryset.metraza <= queryset.reorder_level %}
                <p style="background-color: red; color: white;">{{queryset.metraza}}</p>
            {% else %}
                <p>{{queryset.metraza}}</p>
            {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm">
      <b>Izdao</b>
      <p>{{queryset.izdao}}</p>
    </div>
    <div class="col-sm">
      <b>Zadužio</b>
      <p>{{queryset.izdano_na}}</p>
    </div>
    <div class="col-sm">
        <b>Radnja</b>
        <p>{{queryset.radnja}}</p>
    </div>
    <div class="col-sm">
        <b>Izdano metara</b>
        <p>{{queryset.izdana_metraza}} </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-3"><b>Reorder level</b><p>{{queryset.reorder_level}}</p></div>
    <div class="col-sm-9"><a class = "btn btn-sm btn-warning" href="{% url 'skladiste_app:optika_reorder_level' queryset.id %}">Uredi</a></div>
</div>

{% endblock frame %}
    

{% block sidebar %}
    <a href="{% url 'skladiste_app:listoptika' %}" class="btn btn-link btn-block">Natrag</a>
    <div class="mt-0">
        <a href="{% url 'skladiste_app:optika_uredi' queryset.id %}" class="btn btn-info btn-sm btn-block">Uredi</a>
        <a href="{% url 'skladiste_app:optika_izdaj' queryset.id %}" class='btn btn-outline-primary btn-block'>Izdaj</a>
        <a href="{% url 'skladiste_app:optika_obrisi' queryset.id %}" class='btn btn-danger btn-block'>Obriši</a>
        
        
    </div>
{% endblock sidebar %}
    
    