{% extends 'dash_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block exthead %}
<link rel="stylesheet" href="{% static 'Skladiste/css/master.css' %}">
{% endblock exthead %}
    
{% block info %}
    <div style="height:50px;" class="info">
        {% if messages %}
            <ul style="list-style: none;" class="alert alert-success messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock info %}
    
{% block content %}
    <a href="{% url 'dash:dash' %}"class="btn btn-link">Natrag</a>
    <a href="{% url 'skladiste_app:dodaj_tip' %}" class = "btn btn-primary">Novi tip kabela</a>
    <div class="row">
        <div class="col-sm reorder">
            <h4><a class="skl_ime" href="{% url 'skladiste_app:listoptika' %}">Optika</a></h4>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Inv</th>
                        <th>Naziv</th>
                        <th>Preostalo</th>
                    </tr>
                </thead>
                
                {% for item in optika %}
                    {% if item.metraza <= item.reorder_level %}
                        <tbody>
                            <tr>
                                <td>{{item.inv_broj}}</td>
                                <td><a href="{% url 'skladiste_app:optika_detalji' item.id %}">{{item.naziv}}</a></td>
                                <td>{{item.metraza}}</td>
                            </tr>
                        </tbody>
                    {% endif %}
                {% endfor %}
                    
            </table>
            
        </div>
        <div class="col-sm reorder">
            <h4><a  class="skl_ime" href="{% url 'skladiste_app:listbakar' %}">Bakar</a></h4>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Inv</th>
                        <th>Naziv</th>
                        <th>Preostalo</th>
                    </tr>
                </thead>
                
                {% for item in bakar %}
                    {% if item.metraza <= item.reorder_level %}
                        <tbody>
                            <tr>
                                <td>{{item.inv_broj}}</td>
                                <td><a href="{% url 'skladiste_app:bakar_detalji' item.id %}">{{item.naziv}}</a></td>
                                <td>{{item.metraza}}</td>
                            </tr>
                        </tbody>
                    {% endif %}
                {% endfor %}
                    
            </table>
        </div>
        <div class="col-sm reorder">
            <h4><a class="skl_ime" href="{% url 'skladiste_app:listutp' %}">Utp</a></h4>
            <table class="table table-hover table-sm table-responsive">
                <thead>
                    <tr>
                        <th>Inv</th>
                        <th>Naziv</th>
                        <th>Preostalo</th>
                    </tr>
                </thead>
                
                {% for item in utp %}
                    {% if item.metraza <= item.reorder_level %}
                        <tbody>
                            <tr>
                                <td>{{item.inv_broj}}</td>
                                <td><a href="{% url 'skladiste_app:utp_detalji' item.id %}">{{item.naziv}}</a></td>
                                <td>{{item.metraza}}</td>
                            </tr>
                        </tbody>
                    {% endif %}
                {% endfor %}
                    
            </table>
        </div>
        <div class="col-sm">
            <h4><a class="skl_ime" href="{% url 'skladiste_app:listcijevi' %}">Cijevi</a></h4>
            <table class="table table-hover table-sm ">
                <thead>
                    <tr>
                        <th>Inv</th>
                        <th>Naziv</th>
                        <th>Preostalo</th>
                    </tr>
                </thead>
                
                {% for item in cijevi %}
                    {% if item.metraza <= item.reorder_level %}
                        <tbody>
                            <tr>
                                <td>{{item.inv_broj}}</td>
                                <td><a href="{% url 'skladiste_app:cijev_detalji' item.id %}">{{item.naziv}}</a></td>
                                <td>{{item.metraza}}</td>
                            </tr>
                        </tbody>
                    {% endif %}
                {% endfor %}
                    
            </table>
        </div>
        <div class="col-sm">
            <h4><a class="skl_ime" href="{% url 'skladiste_app:listmaterijal' %}">Materijal</a></h4>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Inv</th>
                        <th>Naziv</th>
                        <th>Preostalo</th>
                    </tr>
                </thead>
                
                {% for item in materijal %}
                    {% if item.metraza <= item.reorder_level %}
                        <tbody>
                            <tr>
                                <td>{{item.inv_broj}}</td>
                                <td><a href="{% url 'skladiste_app:materijal_detalji' item.id %}">{{item.naziv}}</a></td>
                                <td>{{item.metraza}}</td>
                            </tr>
                        </tbody>
                    {% endif %}
                {% endfor %}
                    
            </table>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;" >
        <div class="col-sm">
            <h4><a class="skl_ime" href="{% url 'skladiste_app:listalat' %}">Alat</a></h4>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Inv</th>
                        <th>Naziv</th>
                        <th>Proizvođač</th>
                        <th>Zadužio</th>
                    </tr>
                </thead>
                
                {% for item in alat %}
                    {% if item.zaduzio != 'Skladiste' %}
                        <tbody>
                            <tr>
                                <td>{{item.inv_broj}}</td>
                                <td><a href="{% url 'skladiste_app:alat_detalji' item.id %}">{{item.naziv}}</a></td>
                                <td>{{item.proizvodjac}}</td>
                                <td>{{item.zaduzio}}</td>
                            </tr>
                        </tbody>
                    {% endif %}
                {% endfor %}
                    
            </table>
        </div>
    </div>
{% endblock content %}
    
{% block sidebar %}
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    
    <br>
    
{% endblock sidebar %}
    