{% extends 'dash_base.html' %}

{% load widget_tweaks %}

{% block frame %}

    

{% if messages %}
        <ul style="list-style: none;" class="alert alert-info messages">
               {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
  {% endif %}

<table class="table table-responsive-sm table-sm table-striped table-secondary">
    <thead>
        <th>Inventurni broj</th>
        <th>Naziv</th>
        <th>tip kabela</th>
        <th>proizvođač</th>
        <th>vlasnik</th>
        <th>Broj parica</th>
        <th>Preostalo metara</th>
    </thead>

    {% for item in queryset %}
        <tbody>
            <tr>
                <td>{{item.inv_broj}}</td>
                <td><a href="{% url 'skladiste_app:bakar_detalji' item.id %}">{{item.naziv}}</a></td>
                <td>{{item.tip_kabela}}</td>
                <td>{{item.proizvodjac}}</td>
                <td>{{item.vlasnik}}</td>
                <td>{{item.broj_pari}}</td>
                <td>
                    {% if item.metraza <= item.reorder_level %}
                        <div style="background-color: red;">
                            {{item.metraza}}
                        </div>
                    {% else %}
                        {{item.metraza}}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    {% endfor %}
</table>   
{% endblock frame %}
    
{% block sidebar %}
    <div>
        <a href="{% url 'skladiste_app:cijev_dodaj' %}" class = "btn btn-success btn-block">Novi unos</a><br>
        <a href="{% url 'skladiste_app:dodaj_tip' %}" class = "btn btn-primary btn-block">Novi tip kabela</a><br>
        <a href="{% url 'skladiste_app:cijev_history' %}" class = "btn btn-primary btn-block">History</a><br>
        
        
        <div class="pretraga">
            <h3>Pretraga</h3>
            <div>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {{field.label_tag}}
                        {% render_field field class="form-control" %}
                    {% endfor %}
                        
                    <input class="btn btn-outline-success btn-block" type="submit" value="Traži">
                </form>
            </div>
            
        </div>
        
        
    </div>
    
    <br>
    
{% endblock sidebar %}
    