{% extends 'dash_base.html' %}

{% load widget_tweaks %}

{% block frame %}

<h1>Skladiste - MATERIJAL</h1>

{% if messages %}
        <ul style="list-style: none;" class="alert alert-info messages">
               {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
  {% endif %}

<table class="table table-responsive-sm table-sm table-striped table-secondary">
    <thead>
        <th>Inventurni broj</th>
        <th>Naziv</th>
        <th>vlasnik</th>
        <th>Količina</th>
    </thead>

    {% for item in queryset %}
        <tbody>
            <tr>
                <td>{{item.inv_broj}}</td>
                <td><a href="{% url 'skladiste_app:materijal_detalji' item.id %}">{{item.naziv}}</a></td>
                <td>{{item.vlasnik}}</td>
                <td>
                    {% if item.kolicina <= item.reorder_level %}
                        <div style="background-color: red;">
                            {{item.kolicina}}
                        </div>
                    {% else %}
                        {{item.kolicina}}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    {% endfor %}
</table>   
{% endblock frame %}
    
{% block sidebar %}
    <div>
        <a href="{% url 'skladiste_app:materijal_dodaj' %}" class = "btn btn-success btn-block">Novi unos</a><br>
        <a href="{% url 'skladiste_app:materijal_history' %}" class = "btn btn-primary btn-block">History</a><br>
        
        
        <div class="pretraga">
            <div class="pretraga">
                <h3>Pretraga</h3>
                
                    <button class="btn btn-outline-success btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Pretraga <span class="bi bi-search"></span>
                    </button>
                    <div class="collapse" id="collapseExample">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% include 'includes/searchform.html' %}
                                
                            <input class="btn btn-outline-success btn-block" type="submit" value="Traži">
                        </form>
                    </div>
            </div>
            
        </div>
        
        
    </div>
    
    <br>
    
{% endblock sidebar %}
    