{% extends 'dash_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block exthead %}
    <link rel="stylesheet" href="{% static 'Skladiste/css/master.css' %}">
{% endblock exthead %}

{% block info %}
    {% if messages %}
    <ul style="list-style: none;" class="alert alert-info messages">
        {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock info %}
    
{% block content %}
<h1>Skladište - ALAT</h1>


<div class="row sadržaj">
    <div class="col-sm-3 pretraga">
        <div style="margin-top:5px;padding-top:10px" class="pretraga">
            <!-- <h3>Pretraga</h3> -->
            
                <button class="btn btn-outline-success btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Pretraga <span class="bi bi-search"></span>
                </button>
                <div class="collapse" id="collapseExample">
                    {% include 'includes/searchform.html' %}
                </div>
        </div>
    </div>
    <div class="col-sm-9 skladiste">
        <div class="row gumbi">
            <div class="col-sm gumbi">
                <a href="{% url 'skladiste_app:alat_dodaj' %}"  class = "btn btn-success btn-block">Novi unos</a>
            </div>
            
        </div>
        <table class="table table-sm  table-responsive-sm table-hover ">
            <thead>
                <th>Inventurni broj</th>
                <th>Naziv</th>
                <th>Proizvođač</th>
                <th>Serijski broj</th>
                <th>Zadužio</th>
            </thead>
        
            
            <tbody>
                
                {% for item in queryset %}
                    <tr>
                        <td>{{item.inv_broj}}</td>
                        <td><a href="{% url 'skladiste_app:alat_detalji' item.id %}">{{item.naziv}}</a></td>
                        <td>{{item.proizvodjac}}</td>
                        <td>{{item.sr_broj}}</td>
                        <td>{{item.zaduzio}}</td>     
                    </tr> 
                {% endfor %}
            </tbody>
        </table>   
        
    </div>
    
</div>


{% endblock content %}
    

    