{% extends 'dash_base.html' %}

{% load widget_tweaks %}

{% block frame %}

{% if messages %}
        <ul style="list-style: none;" class="alert alert-info messages">
               {% for message in messages %}
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
       </ul>
  {% endif %}

  <table class="table table-responsive-sm table-striped table-secondary">
    <thead>
        <th>Inventurni broj</th>
        <th>Naziv</th>
        <th>tip kabela</th>
        <th>proizvođač</th>
        <th>vlasnik</th>
        <th>Preostalo metara</th>
        <th>Reorder level</th>
        <th>Izdao</th>
        <th>Zadužio</th>
        <th>Kreirao</th>
        <th>Radnja</th>
    </thead>

    
    <tbody>
        <tr>
            <td>{{queryset.inv_broj}}</td>
            <td>{{queryset.naziv}}</a></td>
            <td>{{queryset.tip_kabela}}</td>
            <td>{{queryset.proizvodjac}}</td>
            <td>{{queryset.vlasnik}}</td>
            <td>
                {% if queryset.metraza <= queryset.reorder_level %}
                    <div style="background-color: red;">
                        {{queryset.metraza}}
                    </div>
                {% else %}
                    {{queryset.metraza}}
                {% endif %}
            </td>
            <td><a href="{% url 'skladiste_app:utp_reorder_level' queryset.id %}">{{queryset.reorder_level}}</a></td>
            <td>{{queryset.izdao}}</td>
            <td>{{queryset.izdano_na}}</td>
            <td>{{queryset.kreirao}}</td>
            <td>{{queryset.radnja}}</td>
        </tr>
    </tbody>
    
</table>      
{% endblock frame %}
    
{% block sidebar %}
    <div>
        <a href="{% url 'skladiste_app:utp_dodaj' %}" class="btn btn-success btn-block">Novi unos</a>
        <a href="{% url 'skladiste_app:utp_uredi' queryset.id %}" class="btn btn-info btn-block">Uredi</a>
        <a href="{% url 'skladiste_app:utp_izdaj' queryset.id %}" class='btn btn-outline-primary btn-block'>IZDAJ ARTIKL</a>
        <a href="{% url 'skladiste_app:utp_obrisi' queryset.id %}" class='btn btn-danger btn-block'>Obriši</a>
        
        
    </div>
    
{% endblock sidebar %}
    